@model ThAmCo.Events.Models.EventViewModel

@{
    ViewData["Title"] = "Book Food";
}

<h2>Book Food</h2>

<h4>@Model.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
@if (ViewBag.FoodMenu == null)
{
        <p>All of the available food menus have been booked for this event.</p>
}
else
{
        <form asp-action="BookFood">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" class="form-control" />
            <input type="hidden" asp-for="Date" value="@Model.Date" class="form-control" />
            <div class="form-group">
                <label asp-for="FoodMenu" class="control-label"></label>
                <select asp-for="FoodMenu" class="form-control" asp-items="ViewBag.FoodMenu"></select>
                <span asp-validation-for="FoodMenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book Food" class="btn btn-default" />
            </div>
        </form>
}
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

