@model IEnumerable<ThAmCo.Events.Models.StaffBookingViewModel>

@{
    ViewData["Title"] = "All Staff";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Manage
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="Events" asp-action="Details" asp-route-id="@item.EventId">Details</a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>